<div class="post clearfix">
  <div class="date_and_notes">About Us</div>

  <div class="photo">
    <div class="caption">
      <div class="regular_body">
        <p></p>

        <p>A website storing a password in plain text means that <strong>your password </strong>is there, waiting for
          someone to come and take it. It doesn’t even matter if you’ve created the strongest possible password. It’s
          just there.</p>

        <p>Whether it’s someone
          <a title="Gawker Media Websites Hacked, Staff and User Passwords Leaked" href="http://www.wired.com/threatlevel/2010/12/gawker-hacked/">hacking
            into their servers</a>,
          <a title="Serious SQL flaw could have compromised millions of Rockyou.com users" href="http://www.net-security.org/secworld.php?id=8612">using
            a simple flaw in their site</a> or even
          <a title="Never store passwords in a database!" href="http://blog.moertel.com/articles/2006/12/15/never-store-passwords-in-a-database">stealing
            their backups</a>,
          <a title="RockYou Hacker: 30% of Sites Store Plain Text Passwords" href="http://www.readwriteweb.com/archives/rockyou_hacker_30_of_sites_store_plain_text_passwords.php">over
            30% of sites store plain text passwords</a>.</p>

        <p>We’re tired of websites abusing our trust and storing our passwords in plain text, exposing us to danger.
          <strong>Here we put websites we believe to be practicing this to shame.</strong></p>

        <p>Found a text offender? Anonymously
          <a title="Submit" href="http://plaintextoffenders.com/submit">submit it to us</a> and put it to shame!</p>

        <p>Are you a developer? Read about
          <a title="How To Safely Store A Password" href="http://codahale.com/how-to-safely-store-a-password/">what you
            can do to solve it on your website</a>.</p>

        <p>More reading on why even
          <a href="http://plaintextoffenders.com/post/7006690494/whats-so-wrong-about-sending-a-new-password-in">just
            sending the password</a> via email without storing it in plain text is bad.</p>

        <p>Created by <a title="@hmemcpy on twitter" href="https://twitter.com/hmemcpy">@hmemcpy</a> and
          <a title="@omervk on twitter" href="https://twitter.com/omervk">@omervk</a>.</p>

        <p>Developed by <a title="@ironshay on twitter" href="http://twitter.com/ironshay">@ironshay</a>.</p>

        <p><a href="http://www.flickr.com/photos/michaelriedel_at/3604097386/">Photo</a> by Michael Reidel cc-by</p>

        <p></p>
      </div>
    </div>
  </div>
  <div class="just_notes clearfix"></div>
</div>