<div class="post clearfix">
  <div class="date_and_notes">Talk to Us</div>

  <div class="photo">
    <div class="caption">
        <script type="text/javascript"> id = 111870; </script>
        <script type="text/javascript" src="http://kontactr.com/wp.js"></script>
    </div>
    </div>
    <div class="just_notes clearfix"></div>
  </div>


