<div class="post clearfix">
  <div class="date_and_notes">Oy Vey!</div>

  <div class="photo">
    <div class="caption">
      <p>
        Sorry, there is nothing to see here!
      </p>
      <p>
        &lt;hint&gt; Maybe consider changing your search string? &lt;/hint&gt;
      </p>
    </div>
    </div>
    <div class="just_notes clearfix"></div>
  </div>