<div class="post clearfix">
  <div class="date_and_notes">Thank you!</div>

  <div class="photo">
    <div class="caption">
      <p>
        <%= flash[:notice] %>
      </p>
    </div>
    </div>
    <div class="just_notes clearfix"></div>
  </div>