<ol>
        <li>
            <h3>You have permission to post this.</h3>
            <p>
                You represent and warrant that you own all rights to any content submitted. You will indemnify and hold harmless this site, its parents, subsidiaries, affiliates, customers, vendors, hosts, officers and employees from any liability, damage or cost (including reasonable attorneys. fees and cost) from (i) any claim or demand made by any third party due to or arising out of any content you submit.            </p>
            <br/>
        </li>
        <li>
            <h3>This site may distribute this post.</h3>
            <p>
                By uploading, submitting or otherwise disclosing or distributing content for display or inclusion on this site, you give this site unlimited license in perpetuity to the content and the information therein.            </p>
        </li>
</ol>