<div class="post clearfix">
  <div class="date_and_notes">Terms of Submission</div>

  <div class="photo">
    <div class="caption">
        <%= render :partial => "terms" %>
    </div>
    </div>
    <div class="just_notes clearfix"></div>
  </div>

