<!DOCTYPE html>
<html>
<head>
  <title>Plain Test Offenders: Admin Site</title>

  <%= javascript_include_tag :all %>
  <%= csrf_meta_tag %>
</head>
<body>
<h1>Plain Text Offenders</h1>
<h2>Administration Console</h2>
<hr/>

<%= yield %>

</body>
</html>
